[submodule "ThirdParties/boost-carla"]
	path = ThirdParties/boost-carla
	url = git@github.com:my-carla/boost-carla.git
[submodule "ThirdParties/rpclib"]
	path = ThirdParties/rpclib
	url = git@github.com:my-carla/rpclib.git
	branch = v2.2.1_c5
[submodule "ThirdParties/googletest"]
	path = ThirdParties/googletest
	url = https://github.com/google/googletest.git
	branch = release-1.8.1
[submodule "ThirdParties/recastnavigation"]
	path = ThirdParties/recastnavigation
	url = https://github.com/carla-simulator/recastnavigation.git
	branch = carla
[submodule "ThirdParties/libpng-carla"]
	path = ThirdParties/libpng-carla
	url = git@github.com:my-carla/libpng-carla.git
[submodule "ThirdParties/xerces-carla"]
	path = ThirdParties/xerces-carla
	url = git@github.com:my-carla/xerces-carla.git
[submodule "ThirdParties/chrono"]
	path = ThirdParties/chrono
	url = https://github.com/projectchrono/chrono.git
	branch = 6.0.0
[submodule "ThirdParties/patchelf"]
	path = ThirdParties/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "ThirdParties/proj-carla"]
	path = ThirdParties/proj-carla
	url = git@github.com:my-carla/proj-carla.git
[submodule "ThirdParties/sqlite-carla"]
	path = ThirdParties/sqlite-carla
	url = git@github.com:my-carla/sqlite-carla.git
[submodule "ThirdParties/eigen-carla"]
	path = ThirdParties/eigen-carla
	url = git@github.com:my-carla/eigen-carla.git
[submodule "ThirdParties/eigen-for-chrono"]
	path = ThirdParties/eigen-for-chrono
	url = git@github.com:my-carla/eigen-for-chrono.git
[submodule "ThirdParties/sumo"]
	path = ThirdParties/sumo
	url = git@github.com:my-carla/sumo.git
	branch = aaron/defaultsidewalkwidth
[submodule "osm-world-renderer/ThirdParties/libosmscout"]
	path = osm-world-renderer/ThirdParties/libosmscout
	url = https://github.com/Framstag/libosmscout.git
[submodule "osm-world-renderer/ThirdParties/lunasvg"]
	path = osm-world-renderer/ThirdParties/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "ExtraPlugins/StreetMap"]
	path = ExtraPlugins/StreetMap
	url = https://github.com/my-carla/StreetMap.git
	branch = carla
[submodule "ExtraPlugins/HoudiniEngineForUnreal"]
	path = ExtraPlugins/HoudiniEngineForUnreal
	url = git@github.com:my-carla/HoudiniEngineForUnreal.git
	branch = carla
